body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 69, 69, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.content {
  text-align: center;
  width: 100%;
}

.title {
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 80px;
  color: white;
  margin-bottom: -20px;
}

.meme {
  background-color: black;
  width: 1000px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.quote {
  font-family: "Cardo", serif;
  color: white;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.author {
  font-family: "Cardo", serif;
  color: white;
  font-size: 20px;
  float: right;
  height: 1em;
}

.picture-container {
  background-image: url("./derp.jpg");
  background-repeat: no-repeat;
  min-width: 200px;
  cursor: move;
  display: table-cell;
}

.quote-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
}

.text-field {
  font-size: 20px;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  border-color: white;
  border-width: 0px 0px 0px 5px;
  font-family: "Noto Sans SC", sans-serif;
  padding: 10px;
  width: 350px;
}

.text-area {
  width: 800px;
  height: 6em;
  margin-top: -10px;
  margin-bottom: 20px;
  resize: none;
}

.bullshit-subtitle {
  color: white;
  font-family: "Noto Sans SC", sans-serif;
  text-align: left;
  font-size: 24px;
  margin-top: 25px;
}

.field-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: white;
  color: black;
  padding: 10px;
  margin-top: 50px;
  font-size: 25px;
  font-family: "Noto Sans SC", sans-serif;
}

.picture-overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  color: rgb(255, 255, 255, 1);
  font-size: 20px;
  font-family: "Noto Sans SC", sans-serif;
}

.hidden {
  display: none;
}

.file-selector {
  font-size: 20px;
  color: white;
  border-color: white;
  border-width: 0px 0px 0px 5px;
  font-family: "Noto Sans SC", sans-serif;
  padding: 10px;
  width: 400px;
}

.meme-row {
  display: table-row;
}

.file-selector-section {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0, 0.5);
  border-color: white;
  border-width: 0px 0px 0px 5px;
  color: white;
  font-size: 24px;
  font-family: "Noto Sans SC", sans-serif;
}

.credits {
  font-family: "Cardo", serif;
  font-size: 14px;
  color: white;
}